{% extends 'base.html.twig' %}

{% block title %}Modifier une pathologie{% endblock %}

{% block body %}
<h1>Modifier une pathologie</h1>

<form method="post">
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-success">Enregistrer</button>
    <a href="{{ path('app_pathologie_index') }}" class="btn btn-secondary">Annuler</a>
</form>
{% endblock %}
