{% extends 'base.html.twig' %}

{% block title %}Créer une conférence{% endblock %}

{% block body %}
<h1>Créer une conférence</h1>

<form method="post">
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-success">Créer</button>
    <a href="{{ path('app_conference_index') }}" class="btn btn-secondary">Annuler</a>
</form>
{% endblock %}
